/* Стили для админ-панели */
.table-selection-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-selection {
    display: flex;
    align-items: center;
}

.table-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.table-link {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    text-decoration: none;
    color: #f4d03f; /* Ярко-жёлтый текст */
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

.table-link.active {
    background-color: #f4d03f; /* Ярко-жёлтый фон */
    color: #1a1a40; /* Тёмный текст */
}

.table-link:hover {
    background-color: #f4d03f; /* Ярко-жёлтый фон при наведении */
    color: #1a1a40; /* Тёмный текст */
}



.table-container {
    height: 100%; /* Занимает всю высоту блока */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.table-container::-webkit-scrollbar {
    width: 5px; /* Ширина полосы прокрутки */
    border-radius: 5px; 
}

.table-container::-webkit-scrollbar-track {
    background: #00000000; /* Фон полосы прокрутки */
    border-radius: 5px; 
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #f4d03f; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Закругление полосы прокрутки */
}

/* Стили для таблицы */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f4d03f;
    vertical-align: middle;
}

.data-table th {
    background-color: rgba(10, 14, 23, 0.9);
    color: #f4d03f;
    font-weight: bold;
}

.data-table td {
    background-color: rgba(10, 14, 23, 0.8);
    color: #fff;
}

.data-table .edit-button{
    text-decoration: none;
    color: #f4d03f;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.single-delete-form {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; /* Выравнивание формы по центру */
}


.single-ban-form {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; /* Выравнивание формы по центру */
}

.single-unban-form {
    display: inline-block;
    margin: 0;
    padding: 0px;
    vertical-align: middle; /* Выравнивание формы по центру */
}

.data-table .edit-button:hover {
    text-decoration: underline;
}

.data-table .delete-button,
.data-table .ban-button,
.data-table .unban-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent !important;
    color: #ec7063;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.data-table .unban-button {
    font-weight: bold;
    vertical-align: middle;
    background-color: #f4d03f;
    color: #f4d03f;
}

.data-table .unban-button:hover {
    background-color: #ec7063;
    text-decoration: underline;
}

.data-table .delete-button:hover,
.data-table .ban-button:hover  {
    /* background-color: #cc0000;  */
    text-decoration: underline;
}



#confirm-delete,
#cancel-delete,
#close-reset-password-modal  {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: bold;
    border: none; /* Убираем границы */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px; /* Добавляем отступы */
    box-sizing: border-box; /* Учитываем padding и border в размерах */
}

#confirm-delete {
    background-color: #ff4d4d; /* Красный цвет */
    color: #fff; /* Белый текст */
    border: 2px solid #ffffff00;
}

#confirm-delete:hover {
    background-color: #cc0000; /* Темно-красный цвет при наведении */
}

#cancel-delete,
#close-reset-password-modal {
    background-color: transparent; /* Прозрачный фон */
    color: #f4d03f; /* Ярко-жёлтый текст */
    border: 2px solid #f4d03f; /* Ярко-жёлтая рамка */
}

#cancel-delete:hover,
#close-reset-password-modal:hover  {
    background-color: #f4d03f; /* Ярко-жёлтый фон при наведении */
    color: #1a1a40; /* Тёмный текст */
}

#ban-reason {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 2px solid #f4d03f;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: border-color 0.3s ease;
}

#ban-reason:focus {
    border-color: #ec7063;
    outline: none;
}

#confirm-ban,
#cancel-ban {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    box-sizing: border-box;
}

#confirm-ban {
    background-color: #ff4d4d;
    color: #fff;
    border: 2px solid #ffffff00;
}

#confirm-ban:hover {
    background-color: #cc0000;
}

#cancel-ban {
    background-color: transparent;
    color: #f4d03f;
    border: 2px solid #f4d03f;
}

#cancel-ban:hover {
    background-color: #f4d03f;
    color: #1a1a40;
}

/* Стили для стараницы редактирования */
.table-container {
    height: 100%; /* Занимает всю высоту блока */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}


.button-group .left-buttons .save-button,
.button-group .right-buttons .reset-password-button,
.button-group .right-buttons .delete-button,
.button-group .right-buttons .ban-button,
.button-group .right-buttons .unban-button {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    border: 2px solid transparent !important;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.button-group .right-buttons .reset-password-button {
    border: 2px solid #f4d03f !important;
}

.button-group .left-buttons .save-button,
.button-group .right-buttons .unban-button {
    background-color: #f4d03f;
    color: #1a1a40;
    border: 2px solid #f4d03f00;
}

.button-group .left-buttons .save-button:hover,
.button-group .right-buttons .unban-button:hover {
    background-color: #ec7063;
}

.button-group .right-buttons .reset-password-button {
    background-color: transparent;
    color: #f4d03f;
    border: 2px solid #f4d03f;
}

.button-group .right-buttons .reset-password-button:hover {
    background-color: #f4d03f;
    color: #1a1a40;
}

.button-group .right-buttons .delete-button,
.button-group .right-buttons .ban-button {
    background-color: #ff4d4d !important;
    color: #fff !important;
    border: 2px solid #ffffff00 !important;
    text-decoration: none !important;
}

.button-group .right-buttons .delete-button:hover,
.button-group .right-buttons .ban-button:hover {
    background-color: #cc0000 !important;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-buttons {
    display: flex;
    align-items: center;
}

.right-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-group form {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; /* Выравнивание по вертикали */
}

.add-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #f4d03f;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #f4d03f;
    color: #1a1a40;
}

.delete-button,
.ban-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ff4d4d;
    color: #fff;
    border: 2px solid transparent;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.delete-button:hover,
.ban-button:hover {
    background-color: #cc0000;
}

.top-menu {
    display: flex;
    justify-content: space-between; /* Разделяем левую и правую части */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    gap: 10px; /* Расстояние между элементами */
}

.top-menu form {
    display: inline-block; /* Формы отображаются как строчные элементы */
    margin: 0px 0px 10px 0px; /* Убираем лишние маргины */
    padding: 0; /* Убираем лишние паддинги */
}

.top-menu-left {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
}

.top-menu-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Расстояние между кнопками */
}


.top-menu-right form {
    display: inline-block; /* Формы отображаются как строчные элементы */
    margin: 0px 0px 10px 0px; /* Убираем лишние маргины */
    padding: 0; /* Убираем лишние паддинги */
}

.filter-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: #f4d03f;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #f4d03f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button.active {
    background-color: #f4d03f;
    color: #1a1a40;
}

.filter-button:hover {
    background-color: #f4d03f;
    color: #1a1a40;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    list-style: none;
}

.pagination li a,
.pagination li span {
    display: block;
    padding: 8px 12px;
    background-color: rgba(10, 14, 23, 0.9);
    color: #f4d03f;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination li.active span {
    background-color: #f4d03f; /* Ярко-жёлтый фон */
    color: #1a1a40; /* Тёмный текст */
}

.pagination li a:hover {
    background-color: #ec7063; /* Розовый цвет при наведении */
    color: #fff;
}

.character-status-select select {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 0px;
    font-size: 16px;
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: border-color 0.3s ease;
}

.character-status-select select:focus {
    background-color: rgba(10, 14, 23, 0.7); 
    outline: none;
}


.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-toggle {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #f4d03f;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.dropdown-toggle::after {
    content: '∨'; 
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    right: 7px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(10, 14, 23, 1);
    border: 2px solid #ec7063;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    max-height: 200px; 
    overflow-y: auto; 
}

.dropdown-toggle.active {
    border-color: #ec7063;
}

.dropdown-menu.open {
    border-color: #ec7063;
    display: block;
}

.form-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.role-checkbox {
    width: 1.3em !important;
    height: 1.3em !important;
    padding: 5px !important;
    font-size: 0px !important;
    background-color: transparent !important;
    border-radius: 50% !important;
    vertical-align: middle !important;
    border: 2px solid #f4d03f !important;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.role-checkbox:checked {
    background-color: #f4d03f !important;
}
