form {
    margin-left: 5px;
    margin-right: 5px;
}

.character-form-container {
    padding: 20px 0px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.character-form-container::-webkit-scrollbar {
    width: 2px; /* Ширина полосы прокрутки */
}

.character-form-container::-webkit-scrollbar-thumb {
    background-color: #f4d03f; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Закругление полосы прокрутки */
}

/* Контейнер для фото и формы */
.form-layout {
    display: flex; /* Размещаем фото и форму в строку */
    /* align-items: flex-start;  */
    gap: 20px; /* Расстояние между фото и формой */
}

/* Стили для фото-секции */
.photo-section {
    flex: 0 0 200px; /* Фиксированная ширина */
    /* height: 286px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image-preview {
    width: 100%; 
    height: 100%; 
    border: 2px solid #f4d03f;
    border-radius: 10px;
    background-color: rgba(10, 14, 23, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-view {
    width: 100%; 
    height: 100%; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}


.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: top;
}

#preview-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder {
    color: #f4d03f;
    font-size: 16px;
    opacity: 0.7;
    pointer-events: none;
    text-align: center;
}


.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f4d03f;
    color: #1a1a40;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #ec7063;
}

.hidden-input {
    display: none;
}

/* Стили для формы */
.form-section {
    flex-grow: 1; /* Занимает всё доступное пространство */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между элементами */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}




.form-control input,
.form-control select,
.form-control textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #f4d03f;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: border-color 0.3s ease;
}

.form-control input::-webkit-outer-spin-button,
.form-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.form-control textarea::-webkit-scrollbar {
    width: 2px; /* Ширина полосы прокрутки */
}

.form-control textarea::-webkit-scrollbar-thumb {
    background-color: #f4d03f; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Закругление полосы прокрутки */
}

.form-control textarea {
    resize: none;
    height: 300px;
}

.form-control select:focus {
    background-color: rgba(10, 14, 23, 0.7);
    border-color: #ec7063;
    outline: none;
}

.form-control input:focus,
.form-control select:focus,
.form-control textarea:focus {
    border-color: #ec7063;
    outline: none;
}

.form-control textarea  {
    resize: none;
    min-height: 100px;
}

/* Стиль кнопки отправки формы */
.btn-primary {
    margin-top: 10px;
    background-color: #f4d03f;
    color: #1a1a40;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ec7063;
}


/* Стили кнопок модального окна */
.btn-accept {
    margin-top: 10px;
    background-color: #f4d03f;
    color: #1a1a40;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-accept:hover {
    background-color: #ec7063;
}

.btn-cancel {
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #f4d03f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    color: #1a1a40;
    background-color: #f4d03f;
}

/* Стили для формы */
.skill {
    border: 2px solid #f4d03f;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    width: 200px;
    min-width: 120px;
    max-width: 200px;
    height: 240px;
    min-height: 175px;
    max-height: 240px;
}

.skill-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.btn-secondary {
    background-color: #f4d03f;
    color: #1a1a40;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #ec7063;
}

.attributes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.attribute-content-name {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slills{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}


.skill-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.skill-value-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.skill-value {
    background: white;
    padding: 5px;
    color:#1a1a40;
    font-size: 18px;
}

.point-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topics-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0px;
}

.topic-link {
    position: relative;
    text-decoration: none;
    color: #f4d03f; 
    background-color: rgba(10, 14, 23, 0.9);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #f4d03f;
    display: block;
    padding: 25px 10px;
    /* padding: 25px 0px 10px 10px; */
    transition: background-color 0.3s ease;
}

.topic-link:hover {
    /* scale: 1.05; */
    color: #1a1a40;
    background-color: #f4d03f;
    /* border-color: #ec7063;  */
}

.status-preparing {
    font-weight: bold;
    color: #f4d03f;
}

.topic-link:hover .character-status .status-preparing{
    color: #1a1a40;
}

.status-approved {
    font-weight: bold;
    color: green;
}

.status-rejected {
    font-weight: bold;
    color: #ec7063;
}

.status-archive {
    font-weight: bold;
    color: gray;
}

.topic-link.active {
    /* scale: 1.05; */
    /* border-color: #ec7063; */
    background-color: #f4d03f; 
    /* border-color: #f4d03f; */
    color: #1a1a40; 
    font-weight: bold;
}

.topic-link.active .character-status .status-preparing {
    color: #1a1a40; 
}


.topic-link-button {
    position: relative;
    text-decoration: none;
    /* color: #1a1a40;  */
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    /* background-color: #f4d03f; */
    display: block;
    padding: 10px 10px;
    transition: background-color 0.3s ease;

    background-color: transparent;
    border: 2px solid #f4d03f;
    color: #f4d03f;
}

.topic-link-button:hover {
    /* background-color: #ec7063; */
    color: #1a1a40;
    background-color: #f4d03f;
}

.character-name {
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 10px;
}

.character-status {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute; /* Абсолютное позиционирование */
    top: 5px; /* Отступ сверху */
    right: 5px; /* Отступ справа */
    font-size: 14px;
    font-weight: normal;
    padding: 2px 8px;
    border-radius: 5px;
}


.character-main-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.character-info-title {
    color: #f4d03f;
    font-size: 24px;
    margin-bottom: 15px;
}

.character-info-section p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.character-info-container{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.character-main-info-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.character-main-info-double-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editCharacter {
    color: #f4d03f;
    text-decoration: none;
}

.editCharacter:hover {
    text-decoration: underline;
}

.character-available-points-container {
    position: absolute;
    display: inline-block;
    top: 5px; 
    left: 10px; 
}

.character-available-points {
    color: #f4d03f;
    z-index: 2;
    font-size: 14px;
    font-weight: normal;
    animation: pulse 1.5s infinite;
}

.character-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #f4d03f; /* Цвет колец */
    border-radius: 50%; /* Круглая форма */
    transform: translate(-50%, -50%); /* Центрирование */
    animation: ring-animation 3s infinite ease-out; 
    opacity: 0; /* Начальная прозрачность */
    z-index: 1; /* Чтобы кольца были под точкой */
}

.character-ring:nth-child(1) {
    animation-delay: 0s; 
}

.character-ring:nth-child(2) {
    animation-delay: 1s; 
}

.character-ring:nth-child(3) {
    animation-delay: 2s; 
}

.topic-link:hover > .character-available-points-container > .character-available-points,
.topic-link.active > .character-available-points-container > .character-available-points  {
    color: #1a1a40;
}

.topic-link:hover > .character-available-points-container > .character-ring,
.topic-link.active > .character-available-points-container > .character-ring  {
    border-color: #1a1a40;
}


@keyframes pulse {
    0% {
        opacity: 1; 
        transform: scale(1);
    }
    50% {
        opacity: 1; 
        transform: scale(1.2); 
    }
    100% {
        opacity: 1; 
        transform: scale(1); 
    }
}

@keyframes ring-animation {
    0% {
        transform: translate(-50%, -50%) scale(0.5); /* Маленький размер в начале */
        opacity: 1; /* Полная видимость */
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2); /* Большой размер в конце */
        opacity: 0; /* Исчезновение */
    }
}

.delete-character-button {
    color: #ec7063;
    background-color: transparent;
    border: 0px;
}

.delete-character-button:hover {
    text-decoration: underline;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    list-style: none;
}

details summary:before {
    content: '⮚';
    margin-right: 5px;
}

details[open] summary:before {
    content: '⮛';
}

.skill-update {
    border: 2px solid #f4d03f;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    width: 200px;
    min-width: 120px;
    max-width: 200px;
    height: 240px;
    min-height: 175px;
    max-height: 240px;
}

.skill-update:hover {
    border-color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.skill-update:hover .skill-name {
    color: #1a1a40;
    background-color: #fff;
    transition: all 0.3s ease;
}

.skill-update.active {
    transform: scale(1.05);
    border-color: #fff;
}

.skill-update.active .skill-name {
    color: #1a1a40;
    background-color: #fff;
}
