.topics-list {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.topic-link {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #f4d03f; /* Ярко-жёлтый текст */
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #f4d03f;
    border-radius: 5px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.topic-link:hover {
    background-color: #f4d03f; /* Ярко-жёлтый фон при наведении */
    color: #1a1a40; /* Тёмный текст */
}


.posts {
    display: flex;
    flex-direction: column-reverse;
    height: 100%; /* Занимает всю высоту блока */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.posts::-webkit-scrollbar {
    width: 2px; /* Ширина полосы прокрутки */
    border-radius: 5px; 
}

.posts::-webkit-scrollbar-track {
    background: #00000000; /* Фон полосы прокрутки */
    border-radius: 5px; 
}

.posts::-webkit-scrollbar-thumb {
    background-color: #f4d03f; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Закругление полосы прокрутки */
}

.post-header {
    display: flex;
    justify-content: space-between; /* Размещаем заголовок и кнопку по краям */
    align-items: center; /* Выравниваем элементы по центру */
    margin-bottom: 0px; /* Отступ между заголовком и содержимым */
}


.post {
    background-color: rgba(10, 14, 23);
    margin-bottom: 20px;
    /* margin-left: 5px; */
    margin-right: 2px;
    padding: 10px;
    border: 2px solid #f4d03f; /* Ярко-жёлтая рамка */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}


.post h4 {
    margin-top: 0;
    color: #f4d03f; /* Ярко-жёлтый заголовок */
}

.post-header h4 {
    margin: 0; /* Убираем стандартные отступы у заголовка */
    flex-grow: 1; /* Позволяет заголовку занимать доступное пространство */
    color: #f4d03f; /* Ярко-жёлтый заголовок */
}

.post p {
    color: #fff; /* Белый текст */
}

.post-date {
    color: #ec7063; /* Розовый цвет для автора */
    font-size: 14px;
}

/* Стили для формы публикации постов */
.post-form {
    margin-top: 20px; /* Отступ сверху */
}

.post-content {
    white-space: pre-wrap; /* Сохраняет пробелы и переносы строк */
    word-wrap: break-word; /* Переносит длинные слова */
}

.post-form__group {
    background-color: rgba(10, 14, 23);;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #f4d03f;
    border-radius: 5px;
}

.post-form__label {
    font-size: 16px;
    color: #f4d03f; /* Ярко-жёлтый текст */
    margin-bottom: 5px;
}

.post-form__input {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    max-height: 200px;
    /* min-height: 50px; */
    font-size: 16px;
    border: 1px solid transparent; 
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    /* background-color: #fff; */
    /* transition: border-color 0.3s ease; */
    /* box-sizing: border-box; */
    resize: none;

    overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.post-form__input::-webkit-scrollbar {
    width: 0px; /* Ширина полосы прокрутки */
    border-radius: 5px; 
}

.post-form__input::-webkit-scrollbar-track {
    background: #00000000; /* Фон полосы прокрутки */
    border-radius: 0px; 
}

.post-form__input::-webkit-scrollbar-thumb {
    background-color: #f4d03f; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Закругление полосы прокрутки */
}

.post-form__input:focus {
    border-color: transparent; /* Розовая рамка при фокусе */
    outline: none;
}

.post-form__button {
    font-family: 'Courier New', Courier, monospace;
    color: #f4d03f;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
}

.post-form__button:hover {
    /* background-color: #ec7063; */
    color: #ec7063;
}

.topic-link.active {
    background-color: #f4d03f;
    color: #1a1a40;
    font-weight: bold;
}

/* .post-header button {
    background: none;
    border: none;
    color: #ec7063;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.post-header button:hover {
    color: #f4d03f; 
} */

.post-header {
    display: flex;
    justify-content: space-between; /* Размещаем заголовок и кнопки по краям */
    align-items: center; /* Выравниваем элементы по центру */
    margin-bottom: 10px; /* Отступ между заголовком и содержимым */
}

.edit-post-button {
    background: none;
    border: none;
    color: #f4d03f; /* Розовый цвет */
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 5px; /* Отступ справа от кнопки редактирования до кнопки удаления */
}

.edit-post-button:hover {
    color: #ec7063; /* Ярко-жёлтый при наведении */
}

.custom-dropdown {
    position: relative; 
    width: max-content; 
}

.dropdown-toggle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    /* color: #f4d03f; */
    /* padding: 10px; */
    font-size: 16px;
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    text-decoration: underline;
    /* background-color: #f4d03f; */
    /* color: #1a1a40; */
}


.dropdown-menu {
    position: absolute;
    bottom: 100%; 
    left: 0;
    width: max-content;
    background-color: rgba(10, 14, 23, 1);
    border: 2px solid #f4d03f;
    border-radius: 5px;
    z-index: 1000;
    overflow-y: auto; 
    max-height: 200px; 

    opacity: 0;
    transform: translateY(10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(-5px); 
    visibility: visible; 
}

.dropdown-menu::-webkit-scrollbar {
    width: 2px; /* Ширина полосы прокрутки */
    border-radius: 5px; 
}

.dropdown-menu::-webkit-scrollbar-track {
    background: #00000000; /* Фон полосы прокрутки */
    border-radius: 5px; 
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #f4d03f; /* Цвет полосы прокрутки */
    border-radius: 5px; /* Закругление полосы прокрутки */
}


.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f4d03f;
    color: #1a1a40;
    font-weight: bold;
}


.dropdown-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}


.dropdown-toggle-post {
    width: 100%;
    color: #f4d03f !important;
    font-size: 16px;
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стиль для кнопки "..." */
.dropdown-toggle-post {
    background-color: transparent;
    border: none;
    color: #f4d03f;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.dropdown-toggle-post:hover {
    color: #ec7063;
}


.custom-dropdown-post {
    position: relative;
    display: inline-block;
}

.dropdown-menu-post {
    position: absolute;
    top: 0%; 
    right: 100%;
    background-color: rgba(10, 14, 23, 1);
    border: 2px solid #f4d03f;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    min-width: 150px;

    opacity: 0;
    transform: translateX(10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu-post.show {
    display: block;
    opacity: 1;
    transform: translateX(0); 
    visibility: visible; 
}

.dropdown-item-post {
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item-post:hover {
    background-color: #f4d03f;
    color: #1a1a40;
}

.dropdown-item-delete-post {
    font-size: 16px;
    color: #ec7063;
    background: transparent;
    border: 0px solid transparent;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    text-align: left;
    width: 100%;
}

.dropdown-item-delete-post:hover {
    cursor: pointer;
    background-color: #f4d03f;
}

.dropdown-item-post a {
    color: #fff;
    text-decoration: none;
}

.dropdown-item-post a:hover {
    color: #1a1a40;
}


#confirm-delete {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ff4d4d;
    color: #fff;
    border: 2px solid transparent;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#confirm-delete:hover {
    background-color: #cc0000;
}

#cancel-delete {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent; 
    color: #f4d03f; 
    border: 2px solid #f4d03f; 
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cancel-delete:hover  {
    background-color: #f4d03f; /* Ярко-жёлтый фон при наведении */
    color: #1a1a40; /* Тёмный текст */
}

.parent-link {
    border-left: 2px solid #f4d03f;
    padding-left: 10px;
    margin-bottom: 10px;
}

.parent-link-content {
    color: #fff;
    text-decoration: none;
}

.parent-post-close {
    cursor: pointer;
    color: #ec7063;
    font-size: 14px;
}

.parent-post-close:hover {
    color: #cc0000;
}

.button-bottom {
    display: none;
    font-size: 24px; 
    border-radius: 50%; 
    position: absolute; 
    right: 10px; 
    top: -40px;
    color: #1a1a40;
    background-color: #f4d03f;
    border: 2px solid transparent;
}

.button-bottom:hover {
    background-color: #ec7063;
}

.no-results {
    text-align: center;
    height: 50%;
}

.loading {
    text-align: center;
    height: 50%;
}

.unread-count-badge {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4d03f;
    color: #1a1a40; 
    border-radius: 12px; 
    padding: 2px 8px;
    font-size: 0.8em;
    font-weight: bold;
}

.topic-link:hover .unread-count-badge {
    font-weight: bold;
    background-color: rgba(10, 14, 23, 1);
    color: #f4d03f;
}

.topic-link.active .unread-count-badge {
    font-weight: bold;
    background-color: rgba(10, 14, 23, 1);
    color: #f4d03f;
}

.read-post {
    display: flex;
    color: #f4d03f;
    flex-direction: row;
    align-items: center;
}

.read-indicator {
    font-size: 0.9em;
}

.read-by-me {
    color: #f4d03f;
}

.read-by-others {
    color: #f4d03f;
    margin: -5px;
}

.unread-posts-separator {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 0px 10px;
    color: #f4d03f;
    font-weight: bold;
    font-size: 0.9em;
}

.unread-posts-separator::before,
.unread-posts-separator::after {
    content: "";
    flex: 1;
    border-top: 1px solid #f4d03f;
    margin: 0 10px;
}

.unread-posts-separator span {
    white-space: nowrap;
    padding: 0 10px;
}